body{
    background-color: beige;
}
h1{
    background-color: rosybrown;
}
.ana{
    display: inline;
    margin: 50px;
    padding: 50px;
    border: 30px;
    border: solid;
    white-space: break-spaces;
}
.ana{
    border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.ana{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
